/*!
 Name: Andrii Damm
 Student #: 300966307

 File description: this is the styles for pizza web app.
 Version: 1.0
*/

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

@media (max-width: 799px){
    .logo img {
        display: none;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}

.logo img {
    margin-top: -14px;
    margin-right: 10px;
}

.detail-view {
    padding-top: 40px;
    padding-bottom: 98px;
}

.cart-row {
    border-top: 2px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
}